.Rproj.user
.Rhistory
.RData
.Ruserdata
/ch03-rcpp/rcpp_cache
/ch02-debug-profile/Rprof.out
/ch05-parallel/parallel_cache/
/julia/.ipynb_checkpoints/Julia-checkpoint.ipynb
/ch09-deep-learning/.Renviron
/ch09-deep-learning/service_account.json
/julia/.ipynb_checkpoints/Julia-checkpoint.ipynb
